# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# ==========================================
# Flutter/Dart Build-Dateien und Caches
# ==========================================
.dart_tool/
build/
.packages
.pub-cache/
.pub/

# ==========================================
# Flutter Plugin-Abhängigkeiten
# ==========================================
.flutter-plugins
.flutter-plugins-dependencies

# ==========================================
# Android spezifisch
# ==========================================
**/android/app/src/debug/AndroidManifest.xml
**/android/app/src/profile/AndroidManifest.xml
**/android/app/build/
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Schlüsselspeicher (Keystores) für den App-Release niemals pushen!
*.jks
*.keystore
key.properties

# ==========================================
# iOS spezifisch
# ==========================================
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m

# ==========================================
# macOS / Windows / Linux / Web
# ==========================================
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/linux/flutter/ephemeral/
**/linux/flutter/generated_plugin_registrant.cc

# ==========================================
# IDEs und Betriebssystem-Dateien
# ==========================================
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db